/* body {
  font: 14pt Open Sans;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
} */

/* .main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
} */

.tools {
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  width: 20em;
  /* background: #fff; */
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  z-index: 2;
  overflow: auto;
}

.feat-section {
  padding-bottom: 0.5em;
}

.feat-subheading {
  font-weight: bold;
}
